*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(83, 80, 80, 0.1) ;
    font-family: 'Inter', sans-serif;
    
    #root{
        height: 100vh;
        display: flex;
        
    }
    .header{
        display: flex;
        background: #F55A5A;
        height: 55px;
        justify-content: center;
        align-items: center;
        color: #fff;
        gap: 7px;

        .logo{
            width: 24px;
        }
    }
    .main{
        padding: 2.1rem 45px;
        background-color: #fff;
        
        .card{
            display: flex;
            align-items: center;
            gap: 15px;
            // width: 29.375rem;
            // margin-bottom: 36px;
            margin: 18px 0;
            min-height: 340px;

            .image-container{
                // outline: 2px solid #f38a8a;
                height: 20em;
                // max-width: 15em;
                min-width: 15em;
                display: flex;
                justify-content: center;
                overflow: hidden;
                background-color: rgba(195, 192, 192, 0.3);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 10px;

                .location-image{
                    // width: 100%;
                }
            }

            .text-section{
                
                .location-row{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    .location-icon{
                        width: 10px;
                    }
                    .country{
                        font-size: 12px;
                        letter-spacing: 0.17rem;
                        color: #2B283A;
                        margin-left: 4px;
                        text-transform: uppercase;
                    }
                    .map-view{
                        font-size: 12px;
                        color: #918E9B;
                        margin-left: 12px;
                    }
                }
                .title{
                    margin-top: 4px;
                    margin-bottom: 19px;
                    color: #2B283A;
                    font-size: 25px;
                    text-transform: capitalize;
                }
                .duration{
                    font-size: 12px;
                    text-transform: capitalize;
                }
                .article{
                    margin-top: 9px;
                    line-height: 1.2rem;
                    font-size: 13px;
                    color: #2B283A;
                    background: #f5f4f5;
                    padding: .4em;
                    width: 80%;
                    // max-height: ;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    // text-overflow: ellipsis;
                    height: 10em;
                    overflow: auto;
                }
                .icons{
                    display: flex;
                    margin-top: .4em;
                    font-size: 2.2em;
                    gap: .3em;

                    .action-btn{
                        padding: 8px;
                        background: rgba(195, 192, 192, 0.3);
                        border-radius: 3px;
                        cursor: pointer;
                    }
                    .action-btn:active{
                        scale: .95;
                    }
                    
                    .edit-icon{
                        color: darkgreen;
                    }

                    .delete-icon{
                        color: rgb(182, 48, 48);
                    }
                }
            }
        }
    }
    .create-container{
        margin-bottom: 20px;
        display: flex;
        justify-content: right;

        .create-btn{
            // background: rgb(2, 128, 2);
            background: #f38a8a;
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            padding: 7px 14px;
            border-radius: 5px;
            justify-self: end;
            border: none;
            box-shadow: 2px 2px 1px #aaa;
            cursor: pointer;
        }
        .create-btn:active{
            scale: .97;
        }
        .create-btn:hover{
            background: #F55A5A;
        }
    }
    .dialog{
        // z-index: 3;
        background: rgba(0, 0, 0, 0.2);
        height: 100vh;
        width: 100%;
        border: none;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
    }
    .hidden{
        display: none;
    }
    .open{
        display: grid;
    }
    .modal{
        background: #fff;
        width: clamp(20em, 80%, 40em);
        // height: 100%;
        max-height: 90%;
        min-width: 20em;
        // margin: auto;
        display: grid;
        place-items: center;
        border-radius: 3px;
        position: fixed;
        overflow: auto;
        padding: 2em;

        .modal-heading{
            text-align: center;
            font-size: 1.4em;
            margin-bottom: 2em;
            color: #F55A5A;
            text-transform: capitalize;
        }
        .form{
            .inputs{
                margin-bottom: 2em;
                
                .duration-container{
                    margin-bottom: .8em;

                    .duration-inputs{
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        gap: 1em;
                        
                        input{
                            font-size: 1em;
                            // width: 7em;
                            display: inline;
                        }
                    }
                    .single-day{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: .1em;

                        .checkbox{
                            cursor: pointer;
                            margin: 0;
                            width: auto;
                        }
                    }
                }
                
            }

            label{
                // color: #F55A5A;
                text-transform: uppercase;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: bold;

                .google-maps{
                    text-transform: none;
                    color: #918E9B;
                    font-weight: 300;
                }
            }

            input, textarea{
                border: none;
                display: block;
                background: rgba(248, 174, 174, 0.4);
                font-size: 16px;
                border-radius: 3px;
                padding: .5em;
                width: 100%;

            }
            input:focus, textarea:focus{
                border: 2px solid #F55A5A;
            }
            input{
                // height: 2em;
                margin-bottom: .8em;
            }
            textarea{
                height: 9em;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                
            }
            #location-image{
                background: none;
            }

            
        }
        .buttons{
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 1em;

            button{
                padding: .8em 1.6em;
                cursor: pointer;
                background: #F55A5A;
                border-radius: 5px;
                outline: none;
                border: none;
                color: #fff;
                font-size: 1em;
            }
            #submit{
                background: darkgreen;
            }
            button:active{
                scale: .95;
            }
        }
    }
    
    


    @media(max-width: 700px){ /* SMALL SCREENS*/
        .page{
            width: 100%;

            .header{
                
                .logo{
                    width: 24px;
                }
            }
            .main{
                padding: 1.7rem 36px;
                .card{
                    flex-direction: column;
                    margin: 22px 0;

                    .image-container{
                        // width: 00%;
                    }
                    .text-section{
                        .title{
                            margin-block: 15px;
                            
                        }
                        .article{
                            width: 100%;
                            font-size: 1em;
                            height: 8.8em;
                        }
                        .duration{
                            font-size: .9em;
                        }
                        .icons{
                            margin: .5em 0 .1em;
                            font-size: 2.8em;
                            justify-content: center;
                        }
                    }
                }
                .create-container{
                    margin-bottom: 30px;
                    .create-btn{
                        width: 100%;
                    }
                }
            }
        }
    }

    @media(min-width: 701px){ /* LARGE SCREENS*/
        #root{
            // display: flex;
            justify-content: center;
        }
        .page{
            // max-width: minmax(45em, 50em);
            width: 100%;
            max-width: 800px;
    
            .header{

                .logo{
                    width: 24px;
                }
            }
        }
    }
}
